/* Add custom styles here */
@font-face {
  font-family: IBMPlexMono;
  src: url(fonts/IBMPlexMono-Regular.ttf);
}
@font-face {
  font-family: IBMPlexMono;
  src: url(fonts/IBMPlexMono-Bold.ttf);
  font-weight: bold;
}

body {
  font-family: "IBMPlexMono", monospace;
}
.navbar-brand {
  font-weight: bold;
}
nav {
  background-color: rgba(133, 133, 133, 0.1);
}
nav a.nav-link {
  background-color: transparent !important;
  color: #0d6efd !important;
}

nav a.nav-link.active {
  background-color: #0d6efd !important;
  color: white !important;
}

.navbar {
  background-color: black;
}
